:root {
  --primary-color: #00beff;
  --primary-hover-color: #2060f3;
  --accent-color: #ff6584;
  --black-color: #000;
  --dark-color: #4e4b66;
  --white-color: #fff;
  --border-color: #eceef3;
  --background-color: #eff0f5;
  --header-font: "Poppins";
}

.header {
  font-family: var(--header-font);
  font-style: normal;
}
.header-bold {
  font-weight: 700;
  color: var(--black-color);
}
.header-light {
  font-weight: 400;
}
.header-regular {
  font-weight: 600;
}

.parahraph {
  font-size: 14px;
  line-height: 18px;
  color: var(--black-color);
}

.badge {
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  font-weight: 700;
  font-size: 11px;
}

.btn {
  border-radius: 18px;
  border: none;
  color: var(--background-color);
  cursor: pointer;
  transition: 0.5s;
}
.btn-pink {
  background-color: var(--accent-color);
  padding: 8px 25px;
}
.btn-pink:hover {
  background-color: #ee2b01;
}
.btn-dark {
  background-color: var(--dark-color);
  border: 1px solid var(--dark-color);
}
.btn-dark:hover {
  border: 1px solid var(--black-color);
  background-color: var(--black-color);
}
.btn-blue {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn-blue:hover {
  background-color: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}

input[type=checkbox] {
  border: 1px solid #dedede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
}

a,
li {
  display: block;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  font-family: var(--header-font);
}

.container {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.topBar {
  width: 100%;
  margin: auto;
  background: var(--background-color);
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.topBar__text {
  text-align: center;
  margin: auto;
  font-size: 14px;
  line-height: 21px;
  color: var(--black-color);
}

.hamburger-input,
.hamburger-lines {
  display: none;
}

.nav {
  margin: auto;
  padding: 15px 0;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 18px;
  color: var(--primary-color);
}
.nav__inputField {
  position: relative;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: right;
}
.nav__inputField-input {
  width: 339px;
  height: 38px;
  background: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 18px;
  padding: 0px 24px;
}
.nav__inputField-magnifier {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  border: none;
  padding: 9px;
  background-color: var(--primary-color);
}
.nav__managerField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav__managerField__figure {
  display: flex;
  align-items: center;
  position: relative;
}
.nav__managerField__figure-icon {
  display: flex;
  align-items: center;
}
.nav__managerField__price {
  font-size: 14px;
  line-height: 18px;
  margin-left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-header {
  font-size: 14px;
  line-height: 18px;
  margin: 15px auto;
}
.dropdown-header-item {
  margin-left: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 36px;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 0px 4px 2px rgba(196, 196, 196, 0.25);
  border-radius: 6px;
  padding: 20px;
  width: 205px;
}

.mainNav {
  width: 100%;
  background-color: var(--background-color);
  padding: 18px auto;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 0;
}
.menu__list__item {
  font-size: 14px;
  line-height: 18px;
  transition: 0.5s;
}
.menu__list__item-arrow {
  margin-left: 5px;
}
.menu__list__btn {
  padding: 7px 24px;
}

.main-content {
  margin: 20px auto;
}
.main-content__single {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.textField {
  max-width: 600px;
  width: 100%;
  padding: 0.5rem;
}
.textField__header {
  font-size: 26px;
}
.textField__para {
  font-size: 13px;
  line-height: 20px;
  max-width: 40%;
  margin: 1rem 0;
}
.textField__button {
  padding: 6px 33px;
}

.bannerField {
  position: relative;
}
.bannerField__splash {
  position: absolute;
  top: 15px;
  left: 0px;
  z-index: -1;
}

.adNavBar {
  width: 100%;
  background-color: var(--primary-color);
  padding: 10px 0;
}
.adNavBar__list {
  display: flex;
  justify-content: space-around;
}
.adNavBar__list__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--white-color);
}

.product {
  width: 100%;
  margin: 50px auto;
  text-align: center;
}
.product__products {
  display: flex;
  justify-content: space-around;
}
.product__header {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 50px;
  color: var(--black-color);
}
.product__img {
  width: 230px;
  margin: auto;
}
.product__wrapper {
  width: 250px;
  padding: 15px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0px 3px 6px #f0f0f0;
  border-radius: 4px;
}
.product__wrapper__para {
  width: 210px;
  margin: 8px auto;
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  color: var(--black-color);
}
.product__wrapper__price {
  width: 210px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product__wrapper__price-main {
  font-size: 18px;
  line-height: 23px;
}
.product__wrapper__price-old {
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #989898;
}
.product__btn {
  width: 40px;
  height: 40px;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  right: 13px;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  cursor: pointer;
}

.bannerSpot {
  margin: 80px auto;
}
.bannerSpot__main {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}
.bannerSpot__single {
  max-width: 350px;
  width: 100%;
  position: relative;
}
.bannerSpot__header {
  position: absolute;
  bottom: 20px;
  right: -16px;
  font-size: 26px;
  line-height: 34px;
  color: var(--white-color);
}
.bannerSpot__title {
  font-size: 25px;
  line-height: 25px;
  color: var(--black-color);
  text-align: center;
}
.bannerSpot__moreInfo {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  gap: 30px;
}
.bannerSpot__btn {
  padding: 10px 67px;
  font-size: 16px;
  line-height: 21px;
}
.bannerSpot__btn-second {
  padding: 10px 30px;
  font-size: 16px;
  line-height: 21px;
}

.blog {
  width: 100%;
  padding: 80px 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.blog__blogs {
  display: flex;
  justify-content: space-between;
}
.blog__para {
  margin-bottom: 25px;
}
.blog__single {
  max-width: 400px;
  width: 100%;
  text-align: left;
}
.blog__description {
  font-size: 18px;
}

.newsletter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newsletter__main {
  max-width: 700px;
  width: 100%;
  text-align: center;
}
.newsletter__inputField {
  width: 100%;
  background: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 18px;
  padding: 9px 25px;
  margin-top: 20px;
  color: var(--black-color);
}
.newsletter__checkbox {
  display: flex;
  align-items: baseline;
  margin-top: 13px;
}
.newsletter__para {
  text-align: left;
  margin-left: 11px;
}
.newsletter__para-mobile {
  display: none;
  font-size: 11px;
}
.newsletter__header {
  font-size: 30px;
}
.newsletter__header-mobile {
  display: none;
}
.newsletter__header-mobile-blueText {
  color: var(--primary-color);
}
.newsletter__btn {
  padding: 8px 100px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  margin-top: 37px;
}

.footer {
  background-color: var(--dark-color);
  width: 100%;
  padding: 50px 0;
  margin-top: -1px;
  position: relative;
}
.footer__logo {
  display: flex;
  align-items: center;
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 18px;
  gap: 10px;
}
.footer__container {
  color: var(--white-color) !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__number {
  font-size: 26px;
  line-height: 34px;
  color: var(--white-color);
}
.footer__span {
  margin: 5px 0;
}
.footer__span__extraSpace {
  margin-top: 15px;
  margin-bottom: 26px;
}
.footer__contactInfo {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.footer__contactInfo__row {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
.footer__contactInfo__column {
  display: flex;
  flex-direction: column;
}
.footer__contactInfo__column-header {
  font-size: 16px;
  color: var(--white-color);
  margin-bottom: 13px;
}
.footer__contactInfo__column-header-arrow {
  display: none;
}
.footer__iconAndNumber {
  display: flex;
}
.footer__span {
  font-size: 14px;
  line-height: 21px;
  color: var(--white-color);
}
.footer__poweredBy {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 0;
  background-color: var(--white-color) !important;
}
.footer__poweredBy__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__poweredBy__header {
  font-size: 12px;
  line-height: 16px;
  color: var(--black-color);
}

@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
    max-width: 400px;
  }
  .topBar {
    padding: 5px 0;
  }
  .topBar__text {
    width: 50%;
    margin: auto;
  }
  .hamburger-input {
    position: absolute;
    right: 10px;
    display: block;
    width: 25px;
    height: 23px;
    z-index: 5;
    opacity: 0;
  }
  .hamburger-lines {
    display: block;
    position: absolute;
    right: 10px;
    height: 23px;
    width: 25px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hamburger-lines .line {
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .hamburger-lines .line .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .hamburger-lines .line .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .hamburger-lines .line .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .nav {
    align-items: flex-start;
    padding: 15px 5px;
  }
  .nav .container {
    width: 90%;
  }
  .nav__logo {
    font-size: 27px;
    display: flex;
    align-items: center;
  }
  .nav__inputField-input {
    display: none;
  }
  .nav__inputField-magnifier {
    position: relative !important;
  }
  .nav__managerField .basket {
    display: block;
    margin: 0 20px;
  }
  .nav__managerField__figure {
    display: none;
  }
  .nav__managerField__price {
    display: none;
  }
  .main-content__single {
    flex-direction: column-reverse;
    text-align: center;
  }
  .textField__header {
    font-size: 20px;
  }
  .textField__para {
    max-width: 75%;
    margin: 1rem auto;
  }
  .adNavBar__list {
    flex-wrap: wrap;
  }
  .adNavBar__list__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
  .mainNav {
    display: none;
    position: static;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: transparent;
  }
  .mainNav .container {
    text-align: -webkit-right;
    width: 100%;
  }
  .activeMenu {
    display: block;
    flex-direction: column;
    position: absolute;
  }
  .menu {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: right;
    gap: 0px;
    padding: 0;
  }
  .menu__list__item {
    width: 100%;
    text-align: initial;
    padding: 20px 5px;
    border-bottom: 1px solid #eceef3;
  }
  .menu .btn {
    display: none;
  }
  .dropdown-content {
    all: unset;
  }
  .dropdown-header {
    width: 100%;
    border-top: 1px solid #eceef3;
    padding-top: 5px;
    font-size: 14px;
    line-height: 18px;
    margin: 15px 0;
  }
  .dropdown-header-item {
    margin: 15px 10px;
  }
  .product__wrapper {
    max-width: 180px;
    width: 100%;
  }
  .product__wrapper__para {
    width: 180px;
    margin: 10px;
  }
  .product__wrapper__price {
    width: 180px;
    margin: 10px;
  }
  .product__wrapper .product__img {
    width: 180px;
  }
  .bannerSpot {
    background-color: var(--background-color);
    margin: 0px auto;
  }
  .bannerSpot__main {
    max-width: 400px;
    width: 100%;
  }
  .bannerSpot__single {
    max-width: inherit;
    width: inherit;
  }
  .bannerSpot__single-img {
    max-width: inherit;
    width: inherit;
  }
  .bannerSpot__header {
    right: 26px;
  }
  .bannerSpot__main {
    display: inline-block;
    margin: inherit;
  }
  .bannerSpot__title {
    width: 75%;
    margin: auto;
    margin-top: 35px;
  }
  .bannerSpot__moreInfo {
    display: inline-block;
    text-align: center;
  }
  .bannerSpot__btn {
    padding: 8px 30px;
    border-radius: 100px;
    margin-bottom: 25px;
  }
  .bannerSpot__btn-second {
    padding: 8px 30px;
    border-radius: 100px;
  }
  .blog {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .blog__blogs {
    display: inline-block;
  }
  .blog__data {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .blog__single {
    text-align: center;
    margin-bottom: 20px;
  }
  .newsletter {
    display: flex;
    flex-direction: column-reverse;
  }
  .newsletter__ownerPic {
    display: none;
  }
  .newsletter__header {
    display: none;
  }
  .newsletter__header-mobile {
    display: block;
    width: 80%;
    margin: auto;
  }
  .newsletter__splashed {
    max-width: 400px;
    width: 100%;
  }
  .newsletter__inputField {
    width: 70%;
  }
  .newsletter__checkbox {
    width: 70%;
    margin: 10px auto;
  }
  .newsletter__para {
    display: none;
  }
  .newsletter__para-mobile {
    display: block;
  }
  .newsletter__btn {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 8px 35px;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer__social {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
  }
  .footer__social__icons {
    margin: 30px auto;
  }
  .footer__number {
    margin-left: 10px;
  }
  .footer__contactInfo {
    flex-direction: inherit;
    gap: 15px;
  }
  .footer__contactInfo__column-header-arrow {
    display: block;
  }
  .footer__contactInfo .dropdownHeader {
    display: flex;
    justify-content: space-between;
  }
  .footer .dropdownFooter {
    width: 90%;
    margin: auto;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
  }
  .footer .dropdownFooter .footer__span {
    display: none;
  }
  .footer .dropdownFooter:hover .footer__span {
    display: block;
  }
  .footer .mobile {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .footer__poweredBy__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */