:root {
  --primary-color: #00beff;
  --accent-color: #ff6584;
  --dark-color: #4e4b66;
  --grey-color: #eff0f5;
  --background-color: #eff0f5;
  --paragraph-font: "Poppins";
  --heading-font: "Arial";
}

.header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.parahraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

input[type="checkbox"] {
  border: 1px solid #dedede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--paragraph-font);
  font-style: normal;
  font-weight: 400;
}

a,
li {
  display: block;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  font-family: var(--paragraph-font);
}

.container {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

#topBar {
  width: 100%;
  margin: auto;
  background: var(--background-color);
  display: flex;
  align-items: center;
  padding: 15px 0;

  &_text {
    // left: calc(50% - 383px / 2 + 0.5px);
    // top: 8px;
    text-align: center;
    margin: auto;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #000000;
  }
}

.nav {
  margin: auto;
  padding: 15px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {
    width: 162px;
    height: 18px;

    font-family: "Questrial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 18px;
    /* identical to box height, or 56% */

    display: flex;
    align-items: center;

    color: var(--primary-color);
  }

  &_inputField {
    position: relative;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: right;

    &-input {
      width: 339px;
      height: 38px;

      background: #ffffff;
      border: 1px solid #eceef3;
      border-radius: 18px;
      padding: 0px 24px;
    }
    &-magnifier {
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 50%;
      border: none;
      padding: 9px;
      background-color: var(--primary-color);
    }
  }

  &__managerField {
    width: 199.58px;
    height: 39.19px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__figure {
      display: flex;
      align-items: center;
      position: relative;
    }

    &__price {
      width: 45.84px;
      height: 20px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      /* or 130% */
      // margin-left: 19.57px;
      display: flex;
      align-items: center;

      color: #000000;
    }
  }
}

.badge {
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  font-weight: 700;
  font-size: 11px;
}

.btn {
  border-radius: 18px;
  padding: 8px 25px;
  display: inline-block;
  border: none;

  &-red {
    background-color: var(--accent-color);
    color: var(--background-color);
  }

  &-dark {
    background-color: var(--dark-color);
    color: var(--background-color);
    padding: 5px 33px;
  }
}

.nav__promotions__button {
  font-weight: 700;
  padding: 8px 50px;
}

.main-section {
  width: 100%;
  background-color: var(--grey-color);
  padding: 18px auto;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 0;

  &__item {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #000;
  }
  &__btn {
    padding: 7px 24px;
  }
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.textField {
  max-width: 600px;
  width: 100%;
  padding: 0.5rem;
  &__header {
    font-size: 26px;
  }

  &__para {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    max-width: 40%;
    margin: 1rem 0;
  }
}

.adNavBar {
  width: 100%;
  background-color: var(--primary-color);
  padding: 10px 0;
  &__list {
    display: flex;
    justify-content: space-around;

    &__item {
      display: flex;
      align-items: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
    }
  }
}

.product {
  width: 100%;
  margin: 50px auto;

  &__products {
    display: flex;
    justify-content: space-around;
  }

  &__header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 50px;
    color: #000000;
  }

  &__img {
    width: 230px;
    margin: auto;
  }

  &__wrapper {
    width: 250px;
    padding: 15px 0;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: 0px 3px 6px #f0f0f0;
    border-radius: 4px;

    &__para {
      width: 210px;
      margin: 8px auto;
      text-align: left;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;

      color: #000000;
    }

    &__price {
      width: 210px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &-main {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
      }
      &-old {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: line-through;
        color: #989898;
      }
    }
  }

  &__btn {
    width: 40px;
    height: 40px;
    padding: 8px;
    position: absolute;
    bottom: 8px;
    right: 13px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    cursor: pointer;
  }
}

.bannerSpot {
  margin: 80px auto;
  &__main {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
  }

  &__single {
    max-width: 350px;
    width: 100%;
    position: relative;
  }

  &__header {
    position: absolute;
    bottom: 20px;
    right: -16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #ffffff;
  }

  &__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
    text-align: center;
  }

  &__moreInfo {
    display: flex;
    justify-content: center;
    margin: 25px auto;
    gap: 30px;
  }

  &__btn {
    padding: 10px 66.9px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 18px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }
}

.blog {
  width: 100%;
  padding: 80px 0;
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__blogs {
    display: flex;
    justify-content: space-between;
  }

  &__para {
    margin-bottom: 25px;
  }

  &__single {
    max-width: 350px;
    width: 100%;
    text-align: left;
  }

  &__description {
    font-size: 18px;
  }
}

.newsletter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__main {
    max-width: 700px;
    width: 100%;
    text-align: center;
  }

  &__inputField {
    width: 100%;
    background: #ffffff;
    border: 1px solid #eceef3;
    border-radius: 18px;
    padding: 9px 25px;
    margin-top: 20px;
    color: #000;
  }

  &__checkbox {
    display: flex;
    align-items: baseline;
    margin-top: 13px;
  }

  &__para {
    text-align: left;
    margin-left: 11px;
  }

  &__header {
    font-size: 30px;
  }

  &__btn {
    background: #4e4b66;
    border: 1px solid #4e4b66;
    padding: 8px 100px;
    border-radius: 18px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-top: 37px;
  }
}
